<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>To-Do List</title>
  <link rel="stylesheet" href="/Todo/todo.css"/>
</head>
<body>
    
    
  <div class="container">
    <h1>Start Your Day :) </h1>
    <div class="input-section">
      <input type="text" id="todoInput" placeholder="Add a new task..." />
      <button onclick="addTodo()">Add</button>
    </div>
    <ul id="todoList"></ul>
    <a href="/index/index.html" class="back-btn">← Back to Home</a>
  </div>
  <script src="/Todo/todo.js"></script>
</body>
</html>
